.login-wrap {
  display:          flex;
  width:            100%;
  height:           100%;
  align-items:      center;
  justify-content:  center;
  flex-direction:   column;
  background-image: linear-gradient(45deg, #152E42 0%, #253548 100%);
}