<div class="grid">
  <section class="card">
    <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->
    <table class="table">
      <thead>
        <tr>
          <th>cnpj</th>
          <th>nome</th>
          <th>telefone</th>
          <th>email</th>
          <th>total de usuários</th>
          <th>total de integrações</th>
          <th>ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td class="txt-center">{{ company.cnpj }}</td>
          <td>{{ company.name }}</td>
          <td class="txt-center">{{ company.phone }}</td>
          <td>{{ company.email }}</td>
          <td class="txt-center">1000</td>
          <td class="txt-center">1000</td>
          <td>
            <!-- <button mat-button [matMenuTriggerFor]="menu">Paulo Gay</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Perfil</button>
            </mat-menu> -->
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>