<div class="login-form--wrap">
  <i class="ic-logo--login"></i>

  <form class="form-add-user" #addUserForm="ngForm" (ngSubmit)="submit(addUserForm)">
    <h2>Cadastrar User</h2>
    <input type="text" name="name" placeholder="Name" [(ngModel)]="user.name">
    <input type="text" name="lastname" placeholder="Lastname" [(ngModel)]="user.lastname">
    <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email">
    <input type="password" name="password" placeholder="password" [(ngModel)]="user.password">
    <input type="password" name="password_confirmation" placeholder="password_confirmation" [(ngModel)]="user.password_confirmation">
    <input type="text" name="cpf" placeholder="cpf" [(ngModel)]="user.user_info_attributes.cpf">
    <input type="text" name="rg" placeholder="rg" [(ngModel)]="user.user_info_attributes.rg">
    <!--<input type="text" name="sex" placeholder="sex" [(ngModel)]="user.user_info_attributes.sex">-->
    <select name="sex" id="user-select-sex" [(ngModel)]="user.user_info_attributes.sex">
      <option value="female">Feminino</option>
      <option value="male">Masculino</option>
    </select>
    <input type="text" name="date_birth" placeholder="date_birth" [(ngModel)]="user.user_info_attributes.date_birth">
    <input type="text" name="phone" placeholder="phone" [(ngModel)]="user.user_info_attributes.phone">
    <!--<input type="text" name="marital_status" placeholder="marital_status" [(ngModel)]="user.user_info_attributes.marital_status">-->
    <select name="marital_status" id="user-select-marital" [(ngModel)]="user.user_info_attributes.marital_status">
      <option value="single">Solteiro(a)</option>
    </select>
    <input type="text" name="naturalness" placeholder="naturalness" [(ngModel)]="user.user_info_attributes.naturalness">
    <!--<input type="text" name="state_id" placeholder="state_id" [(ngModel)]="user.user_address_attributes.state_id">-->
    <select name="state" id="user-select-state" [(ngModel)]="user.user_address_attributes.state_id" (change)="changeState($event.target.value)">
      <option *ngFor="let state of states;" value="{{state.id}}">{{state.name}}</option>
    </select>
    <!--<input type="text" name="city_id" placeholder="city_id" [(ngModel)]="user.user_address_attributes.city_id">-->
    <select name="city" id="user-select-city" [(ngModel)]="user.user_address_attributes.city_id">
      <option *ngFor="let city of cities;" value="{{city.id}}">{{city.name}}</option>
    </select>
    <input type="text" name="postal_code" placeholder="postal_code" [(ngModel)]="user.user_address_attributes.postal_code">
    <input type="text" name="neighborhood" placeholder="neighborhood" [(ngModel)]="user.user_address_attributes.neighborhood">
    <input type="text" name="number" placeholder="number" [(ngModel)]="user.user_address_attributes.number">
    <input type="text" name="complement" placeholder="complement" [(ngModel)]="user.user_address_attributes.complement">
    <input type="text" name="street" placeholder="street" [(ngModel)]="user.user_address_attributes.street">
    <button type="submit">entrar</button>

    <section class="login-form--footer">
      Seja bem vindo !. Em caso de dúvida, fale com  <a href="#">nosso suporte.</a>
    </section>
  </form>

</div>

