<nav class="sidenav-list">
    <a class="sidenav-list--item" href="">
      <i class="ic-nav dashboard"></i>
      <span>Dashboard</span>
    </a>
    <div class="sidenav-list--item" href="">
      <button class="nav-button">
        <i class="ic-nav factory"></i>
        <span>Empresa</span>
      </button>
      <ul >
        <li></li>
      </ul>
    </div>
    <a class="sidenav-list--item" href="">
      <i class="ic-nav event"></i>
      <span>Evento</span>
    </a>
    <a class="sidenav-list--item" href="">
      <i class="ic-nav settings"></i>
      <span>Configurações</span>
    </a>
  </nav>