<nav class="sidenav-list">
    <a class="sidenav-list--item" href="/dashboard">
      <i class="ic-nav dashboard"></i>
      <span>Dashboard</span>
    </a>
    <div class="sidenav-list--item">
      <button class="nav-button" (click)="toggle()">
        <i class="ic-nav factory"></i>
        <span>Empresa</span>
      </button>
      <ul class="sidenar-subnav" *ngIf="hideContent">
        <li>
          <a routerLink="/company" routerLinkActive="active">Perfil</a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="active">Lorem</a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="active">Lorem</a>
        </li>
      </ul>
    </div>
    <a class="sidenav-list--item" href="">
      <i class="ic-nav event"></i>
      <span>Evento</span>
    </a>
    <a class="sidenav-list--item" href="">
      <i class="ic-nav settings"></i>
      <span>Configurações</span>
    </a>
  </nav>