<div class="login-form--wrap">
  <i class="ic-logo--login"></i>

  <form class="form-login" #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)">
    <h2>Log In.</h2>
    <input id="login-email" type="email" name="email" placeholder="Email" [ngModel]="loginForm.email">
    <input id="login-password" type="password" name="password" placeholder="Password" [ngModel]="loginForm.password">
    <button type="submit">entrar</button>

    <section class="login-form--footer">
      Seja bem vindo !. Em caso de dúvida, fale com  <a href="#">nosso suporte.</a>
    </section>
  </form>

</div>

