<div class="wrap">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Gesticket</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" opened="false" class="sidenav-nav">Sidenav content</mat-sidenav>
    <mat-sidenav-content></mat-sidenav-content>
  </mat-sidenav-container>
  <mat-card>
      <mat-card-header>
        <mat-card-title><h3>Page Name</h3></mat-card-title>
      </mat-card-header>
    </mat-card>
</div>
