<div *ngIf="hasLogged">
  <header class="nav-app">
    <i class="logo"></i>
    <app-user-nav class="userNav"></app-user-nav>
  </header>
  <article class="sub-nav">
    <button mat-icon-button (click)="snav.toggle()" class="sub-nav--button"><mat-icon>menu</mat-icon></button>
    <h2 class="sub-nav--title">dashboard</h2>
  </article>
  <!--  -->
  <mat-sidenav-container class="sidenav">
    <mat-sidenav #snav mode="side" opened="false">
      <app-company-nav></app-company-nav>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>
