<mat-toolbar color="primary" *ngIf="loginTest">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <span>Gesticket</span>
</mat-toolbar>

<!-- <div class="wrap"> -->
  

  <!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" opened="true" class="sidenav-nav" *ngIf="loginTest">
      <ul>
        <li><a routerLink="/heroes">Heroes</a></li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<router-outlet>
  
</router-outlet>
