$font-dark: #60656B;
$font-light: #9CA0A4;
$border-light: #DCE0E3;

/* You can add global styles to this file, and also import other style files */
* { margin: 0; padding: 0; }

html,
body {  
  width:            100%; 
  height:           100%; 
  background-color: #f7f7f7;
  font-family:      'Montserrat', Helvetica, sans-serif;
}

.wrap { width: 100%; height: 100%; }
.grid { width: 90%; margin: 0 auto; }

// Main Toolbar 
.nav-app {
  display:          flex;
  flex-flow:        row wrap;
  align-items:      center;
  justify-content:  center;
  width:            100%;
  height:           45px;
  background-image: linear-gradient(0deg, #152E42 0%, #303236 100%);
  color:            #fff;

  .logo {
    align-self: flex-start;
    width:      133px;
    height:     30px;
    margin:     7px 30px;
    background: url(assets/images/logo@133x30.svg) no-repeat center center;
  }

  // Group buttons of app base navigation
  .userNav {
    height:      100%;
    margin:      0 30px;
    margin-left: auto;
    
    ul {
      display:     flex;
      align-items: center;
      flex-flow:   row wrap;
      padding:     0;
      margin:      0;
      height:      100%;
      list-style:  none;

      li {  padding: 0 1.2rem; 
        a { text-decoration: none;

          .ic-help {
            display:    inline-block;
            width:      21px;
            height:     21px;
            background: url(assets/images/ic-help@21x21.svg) no-repeat center center;
          }
          .ic-notify {
            display:    inline-block;
            width:      18px;
            height:     18px;
            background: url(assets/images/ic-notify@18x18.svg) no-repeat center center;
          }
          .ic-dot {
            display:    inline-block;
            width:      5px;
            height:     5px;
            background: url(assets/images/ic-dot@5x5.svg) no-repeat center center;
          }
        }
      }
    }
  }
}

// User Toolbar
.sub-nav {
  width:  100%;
  height: 55px;
  background-image: linear-gradient(-135deg, #6FC8F4 0%, #3399CC 100%);

  .sub-nav--button { 
    float: left;
    margin: 8px 30px; 
    color: #fff; 
  }

  .sub-nav--title {
    display: inline-block;
    margin: 16px 0;
    text-transform: capitalize;
    font: 400 1.2rem 'Montserrat', Helvetica, sans-serif;
    color: #fff;
  }
}

.sidenav {
  position: absolute !important;
  width: 260px;
  height: calc(100% - 100px);
  background-color: transparent !important;
  z-index: 999;

  mat-sidenav {
    width: 240px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
  }
}

.card {
  display:          inline-block;
  width:            100%;
  height:           auto;
  padding:          1.5rem;
  margin:           1.5rem 0;
  border-radius:    6px;
  background-color: #fff;
  box-shadow:       0 3px 12px rgba(0,0,0,0.1);
}

@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-blue-grey, 900);
$candy-app-accent:  mat-palette($mat-light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


.form {
  width:   100%;
  padding: 1rem 0;

  .form-legend {
    display:        block;
    margin:         30px 0;
    font-family:    "Montserrat";
    font-size:      .85rem;
    text-transform: uppercase;
    color:          $font-dark;
  }

  .form-row-gap { margin-bottom: 20px; }

  .form-label {
    display:        block;
    margin-bottom:  15px;
    text-transform: uppercase;
    font-weight:    bold;
    font-size:      .65rem;
    color:          $font-light;
  }

  .form-input {
    width:            100%;
    height:           40px;
    color:            $font-dark;
    background-color: #fafafa;
    border:           2px solid $border-light;
    border-radius:    3px;
    text-indent:      15px;
    transition:       all .3s ease-in-out;

    &:focus { outline: none; box-shadow: 0 6px 12px rgba(0,0,0,0.15); }
  }

  .form-submit {
    display: inline-block;
    margin-top:       20px;
    width:            120px;
    padding:          .7rem .8rem;
    text-transform:   uppercase;
    color:            white;
    background-image: linear-gradient(-136deg, #FAD961 0%, #FF8541 100%);
    border-radius:    100px;
    border:           none;
    cursor:           pointer;
    transition: all .3s ease-in-out;  

    &:hover {
      box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    }
  }
}
