<div class="grid">
  <mat-grid-list cols="12" gutterSize="30px">
    <mat-grid-tile [colspan]="8" [rowspan]= "1">
      <section class="card">
        #graph
      </section>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <section class="card">
          #events
      </section>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12" gutterSize="30px">
      <mat-grid-tile [colspan]="3" [rowspan]= "1">
        <section class="card">
          #map1
        </section>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <section class="card">
          #map2
        </section>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6">
        <section class="card">
          #notify
        </section>
      </mat-grid-tile>
    </mat-grid-list>
</div>
